<div mat-dialog-title>
    <div style="color: red; display: inline-flex; align-items: center; gap: 8px;">
        <mat-icon fontIcon="warning"></mat-icon>
        <div style="font-size: 20px; line-height: 28px;">警告</div>
    </div>
</div>

<div mat-dialog-content>

    <div *ngFor="let msg of data.message" style="font-size: 16px;">{{ msg }}</div>

    <div style="margin-top: 20px; display: flex; align-items: center; gap: 8px;">
        <button mat-raised-button (click)="dialogRef.close(false)">取消</button>
        <button mat-raised-button color="warn" (click)="dialogRef.close(data.pass !== undefined ? data.pass : true)">确定
        </button>
    </div>

</div>
