<div class="d-flex justify-content-center align-items-center my-3">
    <div class="d-flex me-4">
        <a href="https://beian.miit.gov.cn">粤ICP备2022135646号</a>
    </div>
    <div class="d-block text-center text-muted">&copy;Plank Site</div>
</div>
