<!--<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">-->
<!--    <a href="/" class="d-flex align-items-center w-100 w-lg-auto mb-0 me-auto link-body-emphasis text-decoration-none">-->
<!--        <span class="fs-4">Plank Site</span>-->
<!--    </a>-->
<!--    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">-->
<!--        <li><a class="nav-link px-2 text-white" href="/main">主页</a></li>-->
<!--        <li><a class="nav-link px-2 text-white" href="/marked">Markdown</a></li>-->
<!--        <li><a class="nav-link px-2 text-white" href="/about">关于</a></li>-->
<!--    </ul>-->
<!--</header>-->

<header class="container px-0 py-1 py-lg-3 mb-4 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
            <span class="fs-4">Plank Site</span>
        </a>

        <ul class="nav nav-pills col-12 col-lg-auto ms-lg-auto justify-content-center">
            <li class="nav-item"><a class="nav-link px-2" href="/main">主页</a></li>
            <li class="nav-item"><a class="nav-link px-2" href="/marked">Markdown</a></li>
            <li class="nav-item"><a class="nav-link px-2" href="/about">关于</a></li>
        </ul>

        <!--            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
        <!--                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
        <!--            </form>-->

        <!--            <div class="text-end">-->
        <!--                <button type="button" class="btn btn-outline-light me-2">Login</button>-->
        <!--                <button type="button" class="btn btn-warning">Sign-up</button>-->
        <!--            </div>-->
    </div>
</header>
