<div class="float">
    <mat-toolbar>
        <div style="margin-left: 24px;">
            <h4 class="page-title" routerLink="/">板蓝根的技术笔记（施工中。。。）</h4>
        </div>
        <button mat-button routerLink="/main">Home</button>
        <button mat-button routerLink="/about">About</button>
        <span style="margin-right: auto;"></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div class="shadow"></div>
