:host {
    display: block;
}

.jumbotron {
    position: absolute;
    width: 720px;
    height: 600px;
    color: white;
    box-sizing: border-box;
    padding: 24px;

    &.light {
        color: #444;
    }

    &.dark {
        color: white;
    }

    &.left {
        top: 24px;
        left: 24px;
    }

    &.right {
        top: 24px;
        right: 24px;
    }

}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #999;
}
