<div style="position: relative; display: flex; width: 100%; justify-content: flex-end; background-color: #000;">
    <img alt="main-block-bg" height="3780" ngSrc="/assets/bg-003.webp" style="object-fit: fill; height: 680px; width: 1209px" width="6720">
    <div class="position-absolute" style="left: 0; top: 0; width: 100%;">
        <div class="container py-5">
            <div class="jumbotron dark left">
                <h2>欢迎来到我的个人技术博客网站！</h2>
                <p>我是一个热爱技术的IT从业者，这个博客是我分享自己在编程、软件开发、云计算、人工智能和其他技术领域中所学到的知识和经验的地方。</p>
                <p>在这个博客中，你可以找到一系列有关技术的文章和教程，帮助你更好地理解各种技术概念和解决实际问题。</p>
                <p>我也会定期更新博客内容，包括最新技术趋势、面试技巧、实用工具和技巧等等。</p>
                <p>我希望我的博客可以为广大技术爱好者提供一些有价值的信息和资源，同时也欢迎读者们在评论区分享自己的想法和经验，与我互动交流。</p>
                <p>感谢你的阅读！</p>
                <p style="text-align: right;">—— GPT 敬上</p>
            </div>
        </div>
    </div>
</div>

<div style="position: relative; display: flex; justify-content: flex-start; background-color: #fbfcff;">
    <img alt="main-block-bg" height="4480" ngSrc="/assets/bg-004.webp" style="object-fit: fill; height: 680px; width: 1020px" width="6720">
    <div class="position-absolute" style="left: 0; top: 0; width: 100%;">
        <div class="container py-5">
            <div class="jumbotron light right">
                <h1>This is great</h1>
                <p>Welcome to visit Plank Site</p>
                <p>Here is the random memos publish which maybe have some fun. Enjoy it!</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <table [dataSource]="containers" mat-table>

        <ng-container matColumnDef="ID">
            <th *matHeaderCellDef mat-header-cell> No.</th>
            <td *matCellDef="let element" mat-cell> {{ element.Id.slice(0, 12) }} </td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th *matHeaderCellDef mat-header-cell> Name</th>
            <td *matCellDef="let element" mat-cell> {{ element.Names[0] }} </td>
        </ng-container>

        <ng-container matColumnDef="Image">
            <th *matHeaderCellDef mat-header-cell> Image</th>
            <td *matCellDef="let element" mat-cell> {{ element.Image }} </td>
        </ng-container>

        <ng-container matColumnDef="CreatedAt">
            <th *matHeaderCellDef mat-header-cell> Created At</th>
            <td *matCellDef="let element" mat-cell> {{ element.Created * 1000 | date: 'yyyy-MM-dd  HH:mm' }} </td>
        </ng-container>

        <tr *matHeaderRowDef="app.small ? ['Name', 'CreatedAt'] : ['ID', 'Name', 'Image', 'CreatedAt']" mat-header-row></tr>
        <tr *matRowDef="let row; columns: app.small ? ['Name', 'CreatedAt'] : ['ID', 'Name', 'Image', 'CreatedAt'];" mat-row></tr>
    </table>
</div>
