<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/ejs" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none mr-auto">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">板蓝根技术笔记</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/ejs/main">主页</a></li>
        <li class="nav-item"><a class="nav-link" href="/ejs/about">关于</a></li>
    </ul>
</header>
